@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-primary-light: #dbeafe;
  
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-error-bg: #fef2f2;
  
  --color-bg-main: #f8fafc;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-border: #e2e8f0;
}

@layer base {
  body {
    @apply bg-bg-main text-text-main;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}


